*{
    background-color: #161616;
}
body {
    font-family: 'Circular', 'Helvetica Neue', Arial, sans-serif;
}
.container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
.heading{
    color: white;
    font-size: 40px;
    font-weight: 1000;
    width: 350px;
}
.heading span{
    display: block;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
    font-size: 15px;
    justify-content: left;
}
.form span{
    margin-top:30px ;
}
.username{
     border: 2px solid rgb(124, 123, 123); 
    height: 40px;
    width: 330px;
    border-radius: 5px;
    color: white;
    padding-left: 10px;
}
.form input::placeholder{
    color: aliceblue;
    padding-left: 10px;
    font-size: 16px;
}
.form input:focus{
    outline: none;
    padding-left: 10px;
    color: rgb(255, 255, 255);
}
.red{
    border: 2px solid red;
}
.message{
    display: none;
    margin: 0px;
    padding: 0px;
    color: red;
    width: 330px;
}
.form a{
    color: rgb(39, 255, 39);
}

.next{
    margin-top: 20px;
    font-weight: 550;
    border: none;
    color: black;
    font-size: 15px;
    background-color: rgb(68, 219, 106);
    height: 50px;
    width: 330px;
    border-radius: 30px;
}
.next:hover{
    cursor: pointer;
    text-shadow: 0px 0px  30px rgb(11, 11, 11);
    box-shadow: 0px 0px  30px rgb(107, 107, 107);
}
.seperator :first-child{
    text-align: right;
    color: rgb(91, 91, 91);
    letter-spacing: -1mm;
}
.seperator{
    margin-top: 20px;
    color: aliceblue;
    display: flex;
    gap: 10px;
}
.seperator :last-child{
    
    color: rgb(91, 91, 91);
    letter-spacing: -1mm;
}

.buttonsdiv{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.buttons{
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 330px;
    border-radius: 30px;
    height: 50px;
}

.buttons :hover{
    cursor: pointer;
    border: 2ps solid white;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
}

.buttons span{
    position: relative;
    color: white;
    font-size: 18px;
}
.buttons svg{
    position: absolute;
    z-index: 100;
    top: 11px;
    left: 20px;
}
.seperator2{
    width: 330px;
}
.seperator2 p{
    color: rgb(108, 108, 108);
    letter-spacing: -1mm;
}
.p ,.p a{
    color: white;
}
.p2div ,.p2div p a{
    width: 330px;
    color: gray;
    font-size: 12px;
    text-align: center;
}
